@page
@model BlogApp.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about building Web apps with ASP.NET Core.</p>
    <a class="btn btn-primary" asp-page="/BlogPosts/Index">Go to Blog Posts</a>
</div>
