@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">Welcome to the BlogApp</p>
    <div class="main-buttons">
        <a class="btn btn-primary" asp-controller="BlogPosts" asp-action="Index">Go to Blog Posts</a>
        <a class="btn btn-info" asp-controller="Category" asp-action="Index">Go to Categories</a>
    </div>
</div>
